* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


fieldset {
    margin: 50px;
    padding: 20px;
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 2vw;
}

fieldset>legend {
    padding: 20px;
    font-size: larger;
}

button {
    position: absolute;
    bottom: 20%;
    left: 48%;
    width: 10vw;
    height: 5vh;
}

.hidden {
    display: none;
}